<!-- app.component.html -->

<form>
  <div class="row">
    <div class="mb-3 col-md-3">
      <label for="exampleInputEmail1" class="form-label">Primer Nombre</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 col-md-3">
      <label for="exampleInputPassword1" class="form-label">Segundo Nombre</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-md-3">
      <label for="exampleInputEmail1" class="form-label">Primer Apellido</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 col-md-3">
      <label for="exampleInputPassword1" class="form-label">Segundo Apellido</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-md-3">
      <label for="exampleInputEmail1" class="form-label">Tipo de documento</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 col-md-3">
      <label for="exampleInputPassword1" class="form-label">Número de documento</label>
        <input type="number" class="form-control" id="exampleInputPassword1">
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-md-3">
      <label for="exampleInputEmail1" class="form-label">Sexo</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 col-md-3">
      <label for="exampleInputPassword1" class="form-label">Fecha de nacimiento</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-md-3">
      <label for="exampleInputEmail1" class="form-label">ARL</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 col-md-3">
      <label for="exampleInputPassword1" class="form-label">Fondo de Pensiones</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-md-3">
      <label for="exampleInputEmail1" class="form-label">IBC</label>
        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 col-md-3">
      <label for="exampleInputPassword1" class="form-label">Dirección de residencia</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-md-3">
      <label for="exampleInputEmail1" class="form-label">Teléfono fijo</label>
        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 col-md-3">
      <label for="exampleInputPassword1" class="form-label">Teléfono celular</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-md-3">
      <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 col-md-3">
      <label for="exampleInputPassword1" class="form-label">Municipio</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-md-3">
      <label for="exampleInputEmail1" class="form-label">Departamento</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 col-md-3">
      <label for="exampleInputPassword1" class="form-label">.......</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-md-3">
      <label for="exampleInputEmail1" class="form-label">Nombre de Empresa</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 col-md-3">
      <label for="exampleInputPassword1" class="form-label">Tipo de Documento de Empresa</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-md-3">
      <label for="exampleInputEmail1" class="form-label">Número de Documento</label>
        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 col-md-3">
      <label for="exampleInputPassword1" class="form-label">Dirección</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-md-3">
      <label for="exampleInputEmail1" class="form-label">Teléfono fijo</label>
        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 col-md-3">
      <label for="exampleInputPassword1" class="form-label">Correo Electrónico</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-md-3">
      <label for="exampleInputEmail1" class="form-label">Municipio</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 col-md-3">
      <label for="exampleInputPassword1" class="form-label">Departamento</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-md-3">
      <label for="exampleInputEmail1" class="form-label">fecha de Ingreso a la Empresa</label>
        <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 col-md-3">
      <label for="exampleInputPassword1" class="form-label">Caja de Compensación</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-md-3">
      <label for="exampleInputEmail1" class="form-label">Cargo</label>
        <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 col-md-3">
      <label for="exampleInputPassword1" class="form-label">.....</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
  </div>
  



  

  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div>
    <input type="file" (change)="handleFileInput($event)" />
    <p>Selecciona un archivo PDF para modificar.</p>
  </div>
  